.data-address-container {
  background-color: #242424;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data-address-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.data-address-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  width: 35px;
  color: #747bff;
  border:none;
  cursor: pointer;
}

.data-address-container section {
  width: 350px;
  text-align: left;
}

.data-address-container section p {
  padding: 0 1.5rem;
}

@media(min-width: 64rem) {
  .data-address-container {
    min-width: 70vh;
  }

  .data-address-container section {
    width: 310px;
  }

  .data-address-header {
    flex-direction: row;
  }

  .data-address-header button {
    margin: 30px 0;
  }

  .data-address-container section p {
    padding: 0;
  }

  .data-address-header {
    gap: 1.8rem;
  }
}